*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #212d42;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-big {
  max-width: 1400px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  padding: 20px;
  margin: 0 auto;
  max-width: 450px;
  width: 100%;
  height: 300px;
  border: 3px solid #6dade2;
  border-radius: 10px;
}

.counter__count {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
  height: 60%;
  border: 3px solid #6dade2;
  border-radius: 10px;
  font-size: 70px;
  font-weight: 700;
  color: #6dade2;
  margin-bottom: 15px;
}

.error-text {
  font-size: 35px;
  color: red;
}

.message-before-set {
  font-size: 25px;
}

.overMaxValue {
  color: red;
  font-size: 85px;
}

.counter__buttons {
  max-width: 100%;
  height: 35%;
  border: 3px solid #6dade2;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  padding: 0 10px;
  background-color: #6dade2;
  border: none;
  border-radius: 10px;
  font-size: 45px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color ease-in-out;
}

button:active {
  background-color: transparent;
  color: #6dade2;
}

button:disabled {
  background-color: #6dade2;
  color: #000;
  opacity: 0.5;
}

.settings-counter__block {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 100%;
  height: 60%;
  border: 3px solid #6dade2;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 700;
  color: #6dade2;
  margin-bottom: 15px;
}

.settings-counter--flex {
  display: flex;
  justify-content: space-between;
}

input {
  outline: transparent;
  text-align: center;
  font-weight: 700;
}

.error {
  border: 2px solid red;
  background-color: rgba(255,255,255, 0.7);
}

